# Python
venv/
.venv/
__pycache__/
*.pyc
*.db

# Node
node_modules/
dist/

# Environment
.env

# VS Code
.vscode/

# Test files
test_upload/
test_upload.zip

# Upload data
backend/uploads/


# Trained models
backend/trained_models/

# Jupyter checkpoints
.ipynb_checkpoints/
ml/__pycache__/